{{- /* For a given taxonomy, renders a list of terms assigned to the page.
@context {page} page The current page. @context {string} taxonomy The taxonony.
@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }} */}} {{-
$page := .page }} {{- $taxonomy := .taxonomy }} {{- with $page.GetTerms
$taxonomy }} {{- $label := (index . 0).Parent.LinkTitle }}

<ul
  id="taxonomy"
  class="not-prose flex items-center space-x-4 flex-nowrap whitespace-nowrap overflow-x-auto"
>
  {{- range . }}
  <li class="my-4">
    <a
      class="bg-[#EBF7FF] capitalize py-2 px-3 rounded-full border border-[#3090CF] text-[#3090CF] text-sm"
      href="{{ .RelPermalink }}"
      >{{ .LinkTitle }}</a
    >
  </li>
  {{- end }}
</ul>

{{- end }}
